
/*Lauren Werner 3/20/24*/



	 
#outerwrapper {	
	background: rgba(243,205,170, 0.4);
	border-radius: 15%;
	margin: auto;
	width: 70%;
	border: 3px;
	padding: 10px;
}

html{
	background-image: url("../images/jewelry.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

footer{
	font-size: 1em;
	padding-bottom: 10px;
	text-align:center;
}

main{
	background-image:linear-gradient(#ffffff, #f0f9e6);
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size:1.25em;
	font-family:Arial, Helvetica, sans-serif;
}

img{
	float:left;
	border-radius: 50%;
}

.addrightmargin{
margin-right:10%;
}

nav ul{
	list-style-type: none;
	font-size: 1.5em;
	clear:both;

}

h1{
	
	font-family: "Pacifico", sans-serif;
	font-size: 4em;
}

h2{
	
	font-family: "Roboto", sans-serif;
	font-style:italic;
	font-size:2em;
}