/*Lauren Werner, feb 27 2024*/


#outerwrapper {
  width: 70%; 
	margin-left: auto;
	margin-right: auto;
} 

.floatleft { 
	float: left;
	margin-right: 3%;

}

.floatright {
	float: right;
	margin-left: 3px;

}

main, footer { 
	clear: both;
}

body {
	background-color: #b8d1eb;
	color: #000000;
	font-family:'Times New Roman', Times, serif;
}

main {
	background-color: #C5A98B;
	padding: 10px;
}

nav ul{
	list-style-type:none;
}

h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 50px;
}

h2{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style:italic;
}

main ul{
	list-style-image:url("../image/tomato.png");
}

footer{
	font-size:.75em;
	background-color:bisque;
	padding: 10px;
	text-align: center;
}